@font-face {
  font-family: 'Rubik500';
  font-style: normal;
  font-weight: 500;
  src: url(../../fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Rubik700';
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Open Sans500';
  font-style: normal;
  font-weight: 500;
  src: url(../../fonts/OpenSans-VariableFont_wdth\, wght.ttf);
}
@font-face {
  font-family: 'Open Sans700';
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/OpenSans-VariableFont_wdth\, wght.ttf);
}
