$ffRubik500: Rubik500;
$ffRubik700: Rubik700;
$ffOpenSans500: Open Sans500;
$ffOpenSans700: Open Sans700;

$transitionProps: all 0.3s ease;
$color-white: #fff;
$bgc-button-blue: rgba(27, 95, 193, 1);
$bgc-button-yellow: rgba(255, 184, 0, 1);
$bgc-footer: rgb(230, 236, 242);
$fc-main: rgba(12, 18, 45, 1);
$fc-secondary: rgba(87, 92, 116, 1);
$bgc-logo: gray;
